@import url('//fonts.cdnfonts.com/css/sherika');
@import url('//fonts.cdnfonts.com/css/itc-avant-garde-gothic-std-book');

body {
    padding: 0;
    margin: 0;
    font-family: 'Sherika', sans-serif;
}

html{
    scroll-behavior: smooth;
}

.Container{ 
    width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
}

.HomeTip, .InfoTip, .FolderTip, .MailTip{
    font-size: 15.5px;
    font-family: 'ITC Avant Garde Gothic Std Book', sans-serif;
}

a {
    text-decoration: none;
    color: rgb(95,105,116);
}

.HomeTool .HomeTip {
    visibility: hidden;
    color: rgb(8,253,216);
    text-align: center;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    top: 34%;
    margin-left: 10px;
}

.InfoTool .InfoTip {
    visibility: hidden;
    color: rgb(8,253,216);
    text-align: center;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    top: 44.1%;
    margin-left: 10px;
}

.FolderTool .FolderTip {
    visibility: hidden;
    color: rgb(8,253,216);
    text-align: center;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    top: 54.5%;
    margin-left: 10px;
}

.MailTool .MailTip {
    visibility: hidden;
    color: rgb(8,253,216);
    text-align: center;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    top: 64.8%;
    margin-left: 10px;
}

.HomeTool:hover .HomeTip, .InfoTool:hover .InfoTip, .FolderTool:hover .FolderTip, .MailTool:hover .MailTip {
    visibility: visible;
}

.ti-home-2:hover, .ti-info-circle:hover, .ti-folder:hover, .ti-mail:hover {
    color:rgb(8,253,216);
}

.ti-home-2, .ti-info-circle, .ti-folder, .ti-mail {
    display: block;
    margin: 60px;
}

.IconBar{
    width: 5%;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    text-decoration: none;
}

section{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sec-1{
    background-color: rgb(24,24,24);
    position: relative;
}

#sec-2{
    background-color: rgb(29,29,29);
}

.HomeTxt {
    font-size: 250px;
    line-height: 40px;
    width: 54%;
    color: gray;
    margin-top: 45px;
                                                
}

.ScrollButton{
    height: 50px;
    width: 30px;
    position: absolute;
    left: 50%;
    bottom: 5%;
    border-radius: 50px;
    cursor: pointer;
}.ScrollButton::before,
.ScrollButton::after{
    content: '';
    position: absolute;
    top: 20%;
    left: 50%;
    border: 2px solid rgb(8,253,216);
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: ScrollDown 1s ease-in-out infinite
}.ScrollButton::after{
    top: 30%;
    animation-delay: 0.3s;
}@keyframes ScrollDown{
    0%{
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    60%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        top: 90%;
    }
}

.Banner{
    top: 0%;
    left: 1.2%;
    position: fixed;
    width: 7%;
    padding-top: 1.2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img1{
    width: 100%;
    height: auto;
}

.fa-github:hover, .fa-linkedin:hover{
    color: rgb(8,253,216);
}

.Github, .Linkedin{
    display: inline-block;
    list-style: none;
    font-size: 25px;
}
